{
  "name": "{{PLUGIN_NAME}}",
  "description": "{{PLUGIN_NAME}} の説明",
  "version": "{{VERSION}}",
  "author": {
    "name": "{{AUTHOR_NAME}}"
  },
  "license": "MIT",
  "keywords": [],
  "commands": "./commands/"
}
